<h1>Your cart:</h1>

<% @cart.each do |p| %>
<%= p %>
<%end%>
<br>
<h1>Add products to your cart</h1>

<%= form_tag("/products/add") do %>
<p>
<%= text_field_tag "product" %>
</p>
<p>
<%= submit_tag 'add to cart' %>
</p>
<%end%>